# Библиотеки для работы с данными
pandas
numpy

# Библиотеки для машинного обучения и обработки текста
torch
transformers
scikit-learn
mlflow

# Библиотеки для работы с AWS
boto3
s3fs
botocore

# Библиотеки для работы с JSON и регулярными выражениями
json
re

# Библиотеки для логирования
logging

# Дополнительные библиотеки
configargparse
tqdm
