# Ignore Mac OS specific files
.DS_Store

# Ignore environment-specific files
.env

# Ignore Python virtual environment
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore back directory (if it contains temporary or backup files)
back/

# Ignore any compiled Python files
*.pyc

# Ignore any log files
*.log

# Ignore any database files
*.db

# Ignore any cache files
*.cache

# Ignore any backup files
*.bak

# Ignore any temporary files
*.tmp

# Ignore any IDE specific files
.idea/
.vscode/